@font-face {
  font-family: "Genshin";
  src: url("@/assets/fonts/zh-cn.ttf");
}
* > * {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  font-family: "Genshin", sans-serif;
}

:root {
  --color-ui-main: rgba(56, 66, 79, 0.6);
  --color-ui-secondary: rgb(220, 192, 173);
  --color-ui-highlight: rgba(220, 192, 173, 0.25);

  --color-4-star: rgba(210, 143, 214, 0.5);
  --color-5-star: rgb(255 177 63 / 0.5);

  --color-stars: rgb(255 177 63);

  --pad-d: 1rem;
  --pad-s: 0.25rem;
}
body::before {
  content: "";
  position: fixed;
  left: -1%;
  right: 1%;
  z-index: -2;
  display: block;

  width: 110%;
  height: 110%;

  background-image: url("@/assets/imgs/BackgroundImg.jpg");
  background-size: cover;

  filter: blur(9px);
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(56, 66, 79, 0.9) 0%,
    rgba(56, 66, 79, 0.5) 100%
  );
}

header {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(56, 66, 79, 0.9) 0%,
    rgba(56, 66, 79, 0.5) 100%
  );

  padding: var(--pad-d);
}

.title {
  text-decoration: none;
  color: var(--color-ui-secondary);
}
.categories {
  display: flex;
  justify-content: center;
  padding: var(--pad-d);
}
.category_list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
.category {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  transition: 300ms ease;
}

.category:hover {
  background: linear-gradient(
    180deg,
    rgba(220, 192, 173, 0.9) 0%,
    rgba(220, 192, 173, 0.1) 100%
  );
}
.category.active {
  background: linear-gradient(
    180deg,
    rgba(220, 192, 173, 0.5) 0%,
    rgba(220, 192, 173, 0.1) 100%
  );
}

.content {
  width: 75%;
  margin: auto;

  display: flex;
  gap: 1rem;
}

.filter {
  background: linear-gradient(
    180deg,
    rgba(220, 192, 173, 0.9) 0%,
    rgba(220, 192, 173, 0.1) 100%
  );
  flex-basis: 35%;

  display: grid;
  grid-template-areas:
    "title title"
    "label menu"
    "label menu"
    "label menu"
    "search search";

  gap: 1rem;
  padding: var(--pad-d);
  height: fit-content;
}

.item_container,
.item_detail {
  flex: 1;
  background: linear-gradient(
    180deg,
    rgba(220, 192, 173, 0.9) 0%,
    rgba(220, 192, 173, 0.1) 100%
  );
}

.item_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);

  height: fit-content;
  gap: 1rem;
}

.item_detail {
  display: flex;
}

.item_detail > .img {
  flex-basis: 45%;
  flex-shrink: 0;
}
.item_detail > .img > img {
  width: 100%;
}

.filter > h3 {
  grid-area: title;
  text-align: center;
}

.filter > select {
  background-color: var(--color-ui-main);
  color: white;
  border-radius: 5px;
}

.filter > button {
  grid-area: search;
  height: fit-content;
  padding: var(--pad-d);
}

.card {
  text-decoration: none;
  width: fit-content;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 6px 37px -6px rgba(0, 0, 0, 0.45);
  transition: 200ms ease;
}

.card_img {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;

  overflow: hidden;
}

.img_character {
  height: 100%;
  align-self: center;
  aspect-ratio: 1 / 1;
}

.img_artifact,
.img_weapon {
  width: 100%;
  align-self: center;
}

.card:hover {
  scale: 1.05;
}

.createItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(129, 129, 129) 100%
  );
}

.createItem > svg {
  width: 50%;
}

.star_1 {
  color: rgba(82, 134, 164, 1);
  background: radial-gradient(
    circle,
    rgb(132, 130, 128) 0%,
    rgba(125, 123, 121, 1) 100%
  );
  width: 100%;
}
.star_2 {
  background: radial-gradient(
    circle,
    rgb(98, 170, 127) 0%,
    rgba(89, 154, 115, 1) 100%
  );
  width: 100%;
}
.star_3 {
  background: radial-gradient(
    circle,
    rgb(93, 151, 185) 0%,
    rgba(82, 134, 164, 1) 100%
  );
  width: 100%;
}
.star_4 {
  background: radial-gradient(
    circle,
    rgba(255, 240, 219, 1) 0%,
    rgba(210, 143, 214, 1) 100%
  );
  width: 100%;
}
.star_5 {
  background: radial-gradient(
    circle,
    rgba(255, 240, 219, 1) 0%,
    rgba(255, 177, 63, 1) 100%
  );
  width: 100%;
}

.card_text {
  background-color: var(--color-ui-secondary);
  color: black;
  width: 100%;
  text-align: center;
  margin-top: -5px;
}

.info {
  padding: var(--pad-d);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.stars {
  display: flex;
  justify-content: left;
  width: fit-content;
  gap: 0.25rem;
  padding: var(--pad-s);

  color: var(--color-stars);
  background-color: var(--color-ui-main);
}
.stars > img {
  width: 24px;
}

.info_controls {
  margin-top: auto;
  width: fit-content;
  align-self: center;

  display: flex;
  gap: 0.5rem;
}
.info_controls > a {
  text-decoration: none;
  padding: var(--pad-d);
  background-color: var(--color-ui-secondary);
  border-radius: 0.5rem;
  color: black;

  transition: 300ms ease;
}

.info_controls > a:hover {
  background: linear-gradient(
    180deg,
    rgba(220, 192, 173, 0.9) 0%,
    rgba(220, 192, 173, 0.1) 100%
  );
  color: white;
}

.newItem_form {
  background: linear-gradient(
    180deg,
    rgba(220, 192, 173, 0.9) 0%,
    rgba(220, 192, 173, 0.1) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.newItem_form > * {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.newItem_form > textarea {
  resize: none;
}
.formCtrl {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.formBtn {
  flex: 1;
  background-color: var(--color-ui-main);
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  transition: 200ms ease;
}

.formBtn:hover {
  background: linear-gradient(
    180deg,
    rgba(220, 192, 173, 0.9) 0%,
    rgba(220, 192, 173, 0.1) 100%
  );
}

/*Utility*/
.pad-d {
  padding: var(--pad-d);
}
.pad-s {
  padding: var(--pad-s);
}
.rounded-5 {
  border-radius: 0.5rem;
}

.rounded-5-top {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.rounded-5-bottom {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.margin-top-d {
  margin-top: 1rem;
}
